# This .gitignore file should be placed at the root of your Unity project

[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/

# Asset meta data should only be ignored when the asset itself is ignored
!/[Aa]ssets/**/*.meta

# Uncomment if you don't want to track packages from the Package Cache
# Packages/com.unity.package-cache/

# Visual Studio / Rider
.vs/
.vscode/
.idea/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# OS files
.DS_Store
Thumbs.db

# Crash reports
sysinfo.txt

# Unity generated
*.apk
*.aab
*.unitypackage